@using Abarnathy.BlazorClient.Client.Models
@inherits CreateBase
@page "/patient/create"

<div class="container">

    <div class="col-12">
        <h2>Create</h2>

        <EditForm Model="Model" OnSubmit="@Submit">

            <h4>Personal Details</h4>

            <div class="form-row">
                <label>Given Name</label>
                <InputText @bind-Value="@Model.GivenName" placeholder="Given Name" class="form-control"/>
                <ValidationMessage For="@(() => Model.GivenName)" class="text-danger"/>
            </div>

            <div class="form-row">
                <label>Family Name</label>
                <InputText @bind-Value="@Model.FamilyName" placeholder="Family Name" class="form-control"/>
                <ValidationMessage For="@(() => Model.FamilyName)" class="text-danger"/>
            </div>

            <div class="form-row">
                <label>Date of Birth</label>
                <InputDate @bind-Value="@Model.DateOfBirth" placeholder="DD/MM/YYYY" class="form-control"/>
                <ValidationMessage For="@(() => Model.DateOfBirth)" class="text-danger"/>
            </div>

            <div class="form-row">
                <label>Sex</label>
                <InputSelect @bind-Value="@Model.Sex" class="form-control">
                    <option value="@SexEnum.Male">Male</option>
                    <option value="@SexEnum.Female">Female</option>
                </InputSelect>
                <ValidationMessage For="@(() => Model.SexId)" class="text-danger"/>
            </div>

            <h4>Contact Details</h4>
            <hr>
            
            <div class="col-8">

                <div class="form-row">
                    <label>Telephone Number</label>
                    <InputText @bind-Value="@PhoneNumberModel.Number" placeholder="Ex. (123) 456-7890" class="form-control"/>
                    <ValidationMessage For="@(() => PhoneNumberModel.Number)" class="text-danger"/>
                </div>
                
                <button class="btn btn-primary" @onclick="AddPhoneNumber">Add number</button>

            </div>
            
            <div class="col-4">
                @if (Model.PhoneNumbers.Any())
                {
                    <ul>
                        @foreach (var item in Model.PhoneNumbers)
                        {
                            <li>@item.Number</li>
                        }
                    </ul>
                }
                else
                {
                    <em class="text-muted">You haven't added any numbers yet.</em>
                }
            </div>

            @* <div class="form-row"> *@
            @*     <label>Street Name</label> *@
            @*     <InputText @bind-Value="@Addresses[0]" placeholder="Given Name" class="form-control"/> *@
            @*     <ValidationMessage For="@(() => Model.GivenName)" class="text-danger"/> *@
            @* </div> *@

            <button class="btn btn-success">Submit</button>
        </EditForm>
    </div>

</div>