@using Abarnathy.BlazorClient.Client.Models
@inherits CreateBase
@page "/patient/create"

<h2>Create</h2>

<EditForm Model="Model" OnSubmit="@Submit">

    <h4>Personal Details</h4>

    <div class="form-row">
        <label>Given Name</label>
        <InputText @bind-Value="@Model.GivenName" placeholder="Given Name" class="form-control"/>
        <ValidationMessage For="@(() => Model.GivenName)" class="text-danger"/>
    </div>

    <div class="form-row">
        <label>Family Name</label>
        <InputText @bind-Value="@Model.FamilyName" placeholder="Family Name" class="form-control"/>
        <ValidationMessage For="@(() => Model.FamilyName)" class="text-danger"/>
    </div>

    <div class="form-row">
        <label>Date of Birth</label>
        <InputDate @bind-Value="@Model.DateOfBirth" placeholder="DD/MM/YYYY" class="form-control"/>
        <ValidationMessage For="@(() => Model.DateOfBirth)" class="text-danger"/>
    </div>

    <div class="form-row">
        <label>Sex</label>
        <InputSelect @bind-Value="@Sex" class="form-control">
            <option value="@SexEnum.Male">Male</option>
            <option value="@SexEnum.Female">Female</option>
        </InputSelect>
        <ValidationMessage For="@(() => Model.SexId)" class="text-danger"/>
    </div>

    <h4>Contact Details</h4>
    <hr>

    <div class="form-row">
        <label>Telephone Number</label>
        <InputText @bind-Value="@Model.PhoneNumber" placeholder="Telephone number" class="form-control"/>
        <ValidationMessage For="@(() => Model.PhoneNumber)" class="text-danger"/>
    </div>

    @* <div class="form-row"> *@
    @*     <label>Street Name</label> *@
    @*     <InputText @bind-Value="@Model.A" placeholder="Given Name" class="form-control"/> *@
    @*     <ValidationMessage For="@(() => Model.GivenName)" class="text-danger"/> *@
    @* </div> *@

</EditForm>