@inherits IndexBase

@page "/patient"

<h2>Patient Demographics</h2>

@if (Status == OperationStatus.Loading)
{
    <p class="d-block">Loading...</p>
}

@if (Status == OperationStatus.Error)
{
    <p class="d-block">There was an error loading the patient data.</p>
}

@if (Status == OperationStatus.Success)
{
    <table id="patients-table" class="table table-striped table-hover">

        <thead>
        <tr>
            <td>Id</td>
            <td>Family name</td>
            <td>Given name</td>
            <td>Date of birth</td>
            <td>Telephone</td>
            <td>Address</td>
        </tr>
        </thead>

        <tbody>

        @if (PatientList.Any())
        {
            @foreach (var item in PatientList)
            {
                <tr>
                    <th>@item.Id</th>
                    <td>@item.GivenName</td>
                    <td>@item.FamilyName</td>
                    <td>@item.DateOfBirth.Date</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Addresses.FirstOrDefault()</td>
                </tr>
            }
        }

        </tbody>
    </table>
}