@* <EditForm Model="PatientModel" OnSubmit="@Submit"> *@
@* *@
@*             <h4>Personal Details</h4> *@
@* *@
@*             <div class="form-row"> *@
@*                 <label>Given Name</label> *@
@*                 <InputText @bind-Value="@PatientModel.GivenName" placeholder="Given Name" class="form-control"/> *@
@*                 <ValidationMessage For="@(() => PatientModel.GivenName)" class="text-danger"/> *@
@*             </div> *@
@* *@
@*             <div class="form-row"> *@
@*                 <label>Family Name</label> *@
@*                 <InputText @bind-Value="@PatientModel.FamilyName" placeholder="Family Name" class="form-control"/> *@
@*                 <ValidationMessage For="@(() => PatientModel.FamilyName)" class="text-danger"/> *@
@*             </div> *@
@* *@
@*             <div class="form-row"> *@
@*                 <label>Date of Birth</label> *@
@*                 <InputDate @bind-Value="@PatientModel.DateOfBirth" placeholder="DD/MM/YYYY" class="form-control"/> *@
@*                 <ValidationMessage For="@(() => PatientModel.DateOfBirth)" class="text-danger"/> *@
@*             </div> *@
@* *@
@*             <div class="form-row"> *@
@*                 <label>Sex</label> *@
@*                 <InputSelect @bind-Value="@PatientModel.Sex" class="form-control"> *@
@*                     <option value="@SexEnum.Male">Male</option> *@
@*                     <option value="@SexEnum.Female">Female</option> *@
@*                 </InputSelect> *@
@*                 <ValidationMessage For="@(() => PatientModel.SexId)" class="text-danger"/> *@
@*             </div> *@
@* *@
@*             <h4>Contact Details</h4> *@
@*             <hr> *@
@*              *@
@*             <div class="col-8"> *@
@*              *@
@*                 <div class="form-row"> *@
@*                     <label>Telephone Number</label> *@
@*                     <InputText @bind-Value="@PhoneNumberModel.Number" placeholder="Ex. (123) 456-7890" class="form-control"/> *@
@*                     <ValidationMessage For="@(() => PhoneNumberModel.Number)" class="text-danger"/> *@
@*                 </div> *@
@*              *@
@*                 <button class="btn btn-primary" @onclick="AddPhoneNumber">Add number</button> *@
@* *@
@*             </div> *@
@* *@
@*             <div class="col-4"> *@
@*                 @if (PatientModel.PhoneNumbers.Any()) *@
@*                 { *@
@*                     <ul> *@
@*                         @foreach (var item in PatientModel.PhoneNumbers) *@
@*                         { *@
@*                             <li>@item.Number</li> *@
@*                         } *@
@*                     </ul> *@
@*                 } *@
@*                 else *@
@*                 { *@
@*                     <em class="text-muted">You haven't added any numbers yet.</em> *@
@*                 } *@
@*             </div> *@
@* *@
@*             <div class="form-row"> *@
@*                 <label>Street Name</label> *@
@*                 <InputText @bind-Value="@Addresses[0]" placeholder="Given Name" class="form-control"/> *@
@*                 <ValidationMessage For="@(() => Model.GivenName)" class="text-danger"/> *@
@*             </div> *@
@* *@
@*             <button class="btn btn-success">Submit</button> *@
@*         </EditForm> *@