<CascadingValue Value="this">
    <div id="@Id">
        <ul class="nav nav-pills nav-justified mb-4">
            @foreach (var step in _steps)
            {
                <li id="step-@(StepsIndex(step) + 1)" class="nav-item">
                    <a class="nav-link @((ActiveStep == step) ? "active" : "")" href="javascript: void(0)"
                       @onclick="@(e => SetActive(step))">
                        @step.Name
                    </a>
                </li>
            }
        </ul>
        <hr>
        <div id="container-fluid">
            @ChildContent
        </div>
    </div>

    <hr>
    <div class="row mt-4">

        <div class="col-3 d-flex justify-content-start">
            <button class="btn btn-sm btn-dark" type="button"
                    disabled="@(ActiveStepIndex == 0)" @onclick="GoBack">
                <i class="fas fa-caret-left"></i>
            </button>
        </div>

        <div class="col-3 d-flex justify-content-center">
            <button class="btn btn-danger" onclick="@OnClickCancel">
                Cancel
            </button>
        </div>
        
        <div class="col-3 d-flex justify-content-center">
            <button class="btn btn-success"
                    disabled="@(!EnableSubmit)" onclick="@OnClickSubmit">
                Submit
            </button>
        </div>

        <div class="col-3 d-flex justify-content-end">
            <button class="btn btn-dark btn-sm"
                    disabled="@(ActiveStepIndex == _steps.Count - 1)"
                    type="button" @onclick="GoNext">
                <i class="fas fa-caret-right"></i>
            </button>
        </div>

    </div>


</CascadingValue>